version: '3.8'

services:
  # --- 1. NGINX (App + Keycloak) (Reverse Proxy) ---
  nginx-user:
    image: nginxinc/nginx-unprivileged:alpine #Esegue i processi come utente non-root
    container_name: mensa-proxy-user
    ports:
      - "8443:8443"  # HTTPS 
      - "80:8080" # la modalità nginx-unprivileged usa 8080 invece di 80)
    volumes:
      - ./nginx/nginx-user.conf:/etc/nginx/nginx.conf:ro
      - ./mensa.crt:/etc/nginx/certs/server.crt:ro
      - ./mensa.key:/etc/nginx/certs/server.key:ro
    depends_on:
      - keycloak
      - app_kc
      - vault
      - mongo-express
      - mongodb
# ----------------------------------------------------------------
  #   1.2 NGINX-VAULT  - Porta 9443
  # ----------------------------------------------------------------
  nginx-vault:
    image: nginxinc/nginx-unprivileged:alpine
    container_name: mensa-proxy-vault
    ports:
      - "9443:9443"  # HTTPS 
    volumes:
      - ./nginx/nginx-vault.conf:/etc/nginx/nginx.conf:ro
      - ./mensa.crt:/etc/nginx/certs/server.crt:ro
      - ./mensa.key:/etc/nginx/certs/server.key:ro
    depends_on:
      - vault


  # --- 2. TUA APP SPRING BOOT ---
  app_kc:
    build: .
    container_name: app_kc
    environment:
       # AGGIUNTO: &maxPoolSize=50&minPoolSize=5&maxIdleTimeMS=30000
      # Questo limita il numero massimo di connessioni a 50 per evitare di saturare il DB
      SPRING_DATA_MONGODB_URI: mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@mongodb:27017/mensa_db?authSource=mensa_db&maxPoolSize=50&minPoolSize=5&maxIdleTimeMS=30000
      SERVER_PORT: 8090
      # (Opzionale) Se vuoi che l'app legga i segreti da Vault all'avvio, 
      # dovresti aggiungere qui le variabili per connettersi a Vault, 
      # ma per ora lasciamola semplice.
      SPRING_CLOUD_VAULT_HOST: vault
      SPRING_CLOUD_VAULT_PORT: 8200
      SPRING_CLOUD_VAULT_SCHEME: http
      SPRING_CLOUD_VAULT_TOKEN: ${VAULT_TOKEN}
      APP_SECRET: ${APP_SECRET}
      VAULT_TOKEN: ${VAULT_TOKEN}
      MONGO_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      KEYCLOACK_PASSWORD: ${KEYCLOACK_PASSWORD}             
      KEYCLOACK_CLIENT_SECRET: ${KEYCLOACK_CLIENT_SECRET}
    depends_on:
      - mongodb
      - keycloak
      - vault # L'app potrebbe dipendere da Vault in futuro

  # --- 3. KEYCLOAK ---
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: mensa-keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOACK_PASSWORD}
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HOSTNAME_URL: https://localhost:8443
      KC_HOSTNAME_PORT: 8443
      KC_PROXY_HEADERS: xforwarded
      KC_PROXY: edge
    volumes:
      - ./dati_keycloak:/opt/keycloak/data/

  # --- 4. MONGODB ---
  mongodb:
    image: mongo:latest
    container_name: mensa-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
     
    volumes:
      - mongo_data:/data/db
      # Monta la cartella locale per i log
      - ./mongo_logs:/var/log/mongodb
      # AGGIUNTO: Inietta lo script di creazione utente
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    ports:
      # Gli altri container (App, Express) continuano a vederlo tramite la rete interna.
      - "127.0.0.1:27017:27017"
    # --- AGGIUNGI QUESTA RIGA PER L'AUDIT (AU-12) ---
    # Aumenta la verbosità dei log solo per il Controllo Accessi (Login/Auth)
    # . Comando aggiornato: Configura verbosità E percorso file log
    command: [
      "mongod",
      "--setParameter", "logComponentVerbosity={accessControl: {verbosity: 1}}",
      "--logpath", "/var/log/mongodb/mongod.log",
      "--bind_ip_all"
    ]

  # --- 5. MONGO EXPRESS ---
  mongo-express:
    image: mongo-express
    container_name: mensa-mongo-admin
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_URL: mongodb://root:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_ROOT_PASSWORD}
    ports:
      - "8082:8081"
    depends_on:
      - mongodb


# --- 6. HASHICORP VAULT (PROD MODE) ---
  vault:
    image: hashicorp/vault:1.15
    container_name: mensa-vault
    ports:
      - "8200:8200"
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_ADDR: 'http://0.0.0.0:8200'
      # RIMOSSO: VAULT_DEV_ROOT_TOKEN_ID (Non si usa in prod)
    volumes:
      # Monta il file di configurazione locale dentro il container
      - ./vault/config/vault.hcl:/vault/config/vault.hcl
      # Monta la cartella dati per non perdere i segreti al riavvio
      - ./vault/data:/vault/data
    # Comando fondamentale per usare il file .hcl
    command: server -config=/vault/config/vault.hcl
    # In modalità DEV, Vault non ha bisogno di volumi persistenti complessi,
    # ma se vuoi salvare i dati, decommenta le righe sotto e rimuovi VAULT_DEV_...
    # volumes:
    #   - ./vault/config:/vault/config
    #   - ./vault/data:/vault/data
    # command: server 

volumes:
  mongo_data: